*,
*::after,
::before {
  padding: 0;
  margin: 0;
}

:root {
  --navyblue: #2e2f42;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --iris: #4d5ae5;
  --slate: #434455;
  --main-bkgrnd-color: #ffffff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --white: #ffffff;
  --cornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --green: #31d0aa;
  --dairy: #fcfcfc;
  --listed-gap: 24px;
  --transition-settings: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  display: block;
  cursor: pointer;
  border: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--main-bkgrnd-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #434455;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.title-hero {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-bottom: 36px;
}

.title-second {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.019em;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto;
}

.sub-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.small-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; 
  letter-spacing: 0.48px;
}

.body-medium {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


/* HEADER */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}

header .container {
  display: flex;
  padding: 0 15px;
  width: auto;
  align-items: center;
}

/* Logo */
.header .logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-box .link.logo {
  margin-right: 76px;
}

@media screen and (max-width: 767.98px) {
  .nav-box .link.logo {
    margin: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199.98px) {
  .nav-box .link.logo {
    margin-right: 120px;
  }
}

.header .span-studio {
  color: var(--navyblue);
}

.span-footer-studio {
  color: var(--cloud);
}

.nav-box {
  display: flex;
  margin-right: 332px;
  align-items: center;
}

.nav-box-list .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--navyblue);
  position: relative;
  transition: color var(--transition-settings);
}

.nav-box-list .link:hover,
.nav-box-list .link:focus {
  color: var(--ocean);
}

.list.nav-box-list {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 767.98px) {
  .list.nav-box-list {
    display: none;
  }
  .address-list.list {
    display: none;
  }
  .nav-box {
    margin-right: auto;
  }
  .header .container {
    min-width: 320px;
    max-width: 428px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.address {
  font-style: normal;
}

.address-list .list-item:first-child {
  margin-right: 40px;
}

.address-list {
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .address-list .list-item:first-child {
    margin-right: 0px;
    margin-bottom: 12px;
  }

  .nav-box {
    margin: 0;
  }

  .address-list {
    display: block;
  }
  .address {
    margin-left: auto;
  }

  .address .link {
    color: var(--slate, #434455);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

.link.adr-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color var(--transition-settings);
}

.link.adr-item:hover,
.link.adr-item:focus {
  color: var(--ocean);
}

.nav-box-list .link:hover::after,
.nav-box-list .link:focus::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--ocean);
}

.nav-box .link.current {
  color: var(--ocean);
}

.nav-box .current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--ocean);
}


/* Hero Section */

.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: var(--navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-bg@1x-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767.98px) {
  .hero {
    max-width: 428px;
    padding: 112px 0;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/main-bg@2x-mobile.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-bg@1x-tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/main-bg@2x-tablet.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-bg@1x-pc.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/main-bg@2x-pc.jpg);
    }
  }
}

@media screen and (max-width: 767.98px) {
  .title-hero {
    font-size: 36px;
    line-height: 1.11;
    width: 320px;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 427.98px) {
  .title-hero {
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
    padding: 0 10px;
  }
}

.hero-button {
  min-width: 169px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-settings);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}


/* section 2 */

.advantages-section {
  padding: 96px 0;
}

.advantages .sub-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 8px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .advantages .sub-title {
    text-align: left;
  }
}

.subtitle-text {
  color: var(--slate);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.advantages.container .list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: calc(var(--listed-gap) * 3);
}


@media only screen and (min-width: 428px) and (max-width: 767.98px) {
  .advantages.container {
    width: 428px;
  }
}


.advantages-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .advantages-section {
    padding: 120px 0;
  }
}
@media screen and (min-width: 768px) {
  .advantages.container .list {
    --listeditems: 2;
    column-gap: var(--listed-gap);
  }

  .advantages-item {
    width: calc(
      (100% - var(--listed-gap) * (var(--listeditems) - 1)) / var(--listeditems)
    );
  }
}

@media screen and (min-width: 1200px) {
  .advantages.container .list {
    --listeditems: 4;
  }

  .advantages-item {
    width: calc(
      (100% - var(--listed-gap) * (var(--listeditems) - 1)) / var(--listeditems)
    );
  }

  .advantages .sub-title {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
  }

  .subtitle-text {
    font-weight: 400;
  }
}

@media screen and (max-width: 1199.98px) {
  .advantages-icons {
    display: none;
  }
}


/* section 3 */

.arewe {
  padding-bottom: 120px;
}

@media screen and (max-width: 1199.98px) {
  .arewe {
    display: none;
  }
}

.container.activities .title-second {
  margin-bottom: 72px;
}

.container.activities .list {
  display: flex;
  flex-wrap: wrap;
  --listeditems: 3;
  gap: var(--listed-gap);
}

.arewe-list-item {
  width: calc(
    (100% - var(--listed-gap) * (var(--listeditems) - 1)) / var(--listeditems)
  );
}


/* section 4 */

.our-team {
  padding: 96px 0;
  background-color: var(--cloud);
}

@media screen and (min-width: 428ps) and (max-width: 767.98pxpx) {
  .our-team {
    width: 428px;
    padding: 96px 0;
  }
}

.container.team .title-second {
  margin-bottom: 72px;
}

.container.team .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  --listeditems: 4;
  gap: var(--listed-gap);
}

.team-list-item {
  width: calc(
    (100% - var(--listed-gap) * (var(--listeditems) - 1)) / var(--listeditems)
  );
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 320px) {
  .team-list-item {
    width: 264px;
    row-gap: 72px;
  }
  .container.team .list {
    width: 100%;
    row-gap: 72px;
  }
}

.team-card-content {
  text-align: center;
  padding: 32px 0;
}

.team-card-content .sub-title {
  text-align: center;
}

.team-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-card-content .link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-settings);
}

.team-card-content .link:hover,
.team-card-content .link:focus {
  background-color: var(--ocean);
}

.social-logo {
  fill: var(--cloud);
}

@media screen and (min-width: 428px) and (max-width: 767.98ps) {
  .our-team .team {
    width: 428px;
  }
}

/* section 5 */

.costumers .title-second {
  margin-bottom: 72px;
}

.costumers {
  padding: 120px 0 120px 0;
}

.costumers .container {
  max-width: 428px;
  padding: 0;
}

.costumers .list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--listed-gap);
  --listeditems: 6;
}
.costumers-list-item {
  display: flex;
  width: 190px;
}

@media screen and (max-width: 767.98px) {
  .costumers .list {
    justify-content: center;
    --listeditems: 2;
    row-gap: 72px;
    column-gap: 16px;
  }

  .costumers {
    padding: 96px 0 96px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .costumers .list {
    justify-content: center;
    --listeditems: 3;
    row-gap: 72px;
    column-gap: 24px;
  }
  .costumers-list-item {
    width: calc(
      (100% - var(--listed-gap) * (var(--listeditems) - 1)) / var(--listeditems)
    );
  }

  .costumers {
    padding: 120px 0 120px 0;
    margin: 0 auto;
  }
  .costumers .container {
    max-width: 584px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .costumers .list {
    justify-content: center;
    --listeditems: 6;
    column-gap: 24px;
  }
  .costumers-list-item {
    width: calc(
      (100% - var(--listed-gap) * (var(--listeditems) - 1)) / var(--listeditems)
    );
  }

  .costumers {
    max-width: 100%;
    padding: 96px 0 96px 0;
    margin: 0 auto;
  }
  .costumers .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 16px;
  }
}

.costumers-list-item .link {
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightslate);
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  transition: border-color var(--transition-settings),
    color var(--transition-settings);
}

.costumers-list-item .link:hover,
.costumers-list-item .link:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}

.costumers-logo {
  fill: currentColor;
  transition: fill var(--transition-settings);
}


/* Footer */

.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 268px;
}

.footer {
  background-color: var(--navyblue);
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer .link.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
}

.footer .link.logo {
  display: inline-block;
  margin-bottom: 16px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.container-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .logo-container {
    display: block;
  }
}

.footer .body-medium {
  color: var(--white);
  margin-bottom: 16px;
}

.footer .list {
  display: flex;
  gap: 16px;
}

.team-socials-logo {
  width: 40px;
  height: 40px;
}

.team-socials-logo .link {
  height: 100%;
  width: 100%;
}

.footer .footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--iris);
  padding: 8px;
  transition: background-color var(--transition-settings);
}

.footer .footer-socials:hover,
.footer .footer-socials:focus {
  background-color: var(--green);
}


@media screen and (min-width: 768px) and (max-width: 1157.98px){
.tablet-container {
    max-width: 584px;
}
}

/* Subscribe Section */

.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-form-text {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-form-label {
  width: 100%;
}

.footer-form-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}

.footer-form-input::placeholder {
  color: var(--white);
}

.footer-form-button {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: var(--iris);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  transition: background-color var(--transition-settings);
}

.footer-form-button-icon {
  fill: var(--white);
  margin-left: 16px;
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--ocean);
}

@media screen and (max-width: 767.98px) {
  .footer-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .footer-form-text {
    text-align: center;
  }

  .footer-form-input {
    width: 100%;
  }
}

@media screen and (min-width: 1158px) {
  .footer-form-container {
    margin-left: auto;
  }
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navyblue-modal);
  z-index: 2;
  transition: opacity var(--transition-settings),
    visibility var(--transition-settings);
}

.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;
  border-radius: 4px;
  background-color: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform var(--transition-settings);
}

.backdrop .modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: var(--listed-gap);
  top: var(--listed-gap);
  width: 24px;
  height: 24px;
  fill: var(--cornflower);
  border: 1px solid var(--cornflower);
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower);
  padding: 0x;
  transition: background-color var(--transition-settings),
    border var(--transition-settings), fill var(--transition-settings);
}

.backdrop .modal-btn:hover,
.backdrop .modal-btn:focus {
  background-color: var(--ocean);
  border: none;
}

@media only screen and (max-width: 427.98px) {
  .backdrop .modal {
    width: 310px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop .modal-btn-ico {
  fill: black;
  transition: fill var(--transition-settings);
}

.backdrop .modal-btn:hover .modal-btn-ico,
.backdrop .modal-btn:focus .modal-btn-ico {
  fill: var(--main-bkgrnd-color);
}

.modal .strong {
  display: block;
  width: 100%;
  color: var(--navyblue);
  text-align: center;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.input-box {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
}

.last-input-box {
  margin-bottom: 16px;
}

.input-label {
  display: block;
  color: var(--lightslate, #8e8f99);
  margin-bottom: 4px;
}

.input-field {
  position: relative;
  font-size: 18px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding: 11px 11px 11px 38px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  background-color: transparent;
  transition: border-color var(--transition-settings);
  outline: transparent;
}

.modal-input:focus,
.text-area:focus {
  border-color: var(--iris);
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: var(--navyblue);
  transition: fill var(--transition-settings);
}

.modal-input:focus + .modal-icon {
  fill: var(--iris);
}

.text-area {
  width: 100%;
  height: 120px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  transition: border-color var(--transition-settings);
}

.text-area::placeholder {
  color: var(--navyblue-modal);
  font-size: 12px;
}

.policy-box {
  margin-bottom: 24px;
}

.modal-privacy-check:checked + .policy .modal-checkbox {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.policy {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
}

.policy-text {
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.policy-text-link {
  color: var(--iris);
  text-decoration-line: underline;
}

.modal-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--navyblue-modal);
  fill: transparent;
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color var(--transition-settings),
    border var(--transition-settings), fill var(--transition-settings);
}

.modal-submit-btn {
  min-width: 169px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-settings);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--ocean);
}


/* PORTFOLIO */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-section .list.filter {
  display: flex;
  gap: var(--listed-gap);
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-section .filter-button {
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  transition: color var(--transition-settings),
    background-color var(--transition-settings),
    border-color var(--transition-settings),
    box-shadow var(--transition-settings);
}

.portfolio-section .filter-button:hover,
.portfolio-section .filter-button:focus {
  color: #ffffff;
  background-color: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portf-list {
  display: flex;
  flex-wrap: wrap;
  --listeditems: 3;
  row-gap: calc(var(--listed-gap) * 2);
  column-gap: var(--listed-gap);
}

.portfolio-section .portf-list-item {
  width: calc(
    (100% - var(--listed-gap) * (var(--listeditems) - 1)) / var(--listeditems)
  );
  border: 1px solid var(--cornflower);
  background: var(--white);
}

.portfolio-section .portf-list .link:hover,
.portfolio-section .portf-list .link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-section .portf-list .link {
  position: relative;
  display: block;
  transition: box-shadow var(--transition-settings);
}

.portfolio-section .portfolio-card-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-section .portfolio-card-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  color: var(--cloud);
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  transition: transform var(--transition-settings);
}

.portfolio-section .portf-list .link:hover .portfolio-card-overlay-text,
.portfolio-section .portf-list .link:focus .portfolio-card-overlay-text {
  transform: translateY(0%);
}

.portfolio-section .title-second {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; 
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portf-list-text {
  color: var(--slate);
  line-height: 1.5; 
  letter-spacing: 0.02em;
}

.portf-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* mobile menu */

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--white);

  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 428px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 80px 35px 40px 40px;
}

.menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  color: var(--dark-color);
  background-color: var(--cornflower);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-toggle-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: none;
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  color: var(--dark-color);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-menu-link.current {
  color: var(--ocean);
}

.mobile-address-list {
  margin-bottom: 48px;
}

.mobile-address-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-address-link.phone {
  color: var(--iris);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-address-link.email {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-list-socials {
  display: flex;
  justify-content: space-between;
  max-width: 328px;
}

.mobile-list-socials-item {
  width: 40px;
  height: 40px;
}

.mobile-list-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  background-color: var(--primary-brand-color);

  color: var(--cloud);
}

.mobile-list-socials-link:hover,
.mobile-list-socials-link:focus {
  background-color: var(--green);
}

.mobile-socials-icon {
  fill: var(--white);
}

@media screen and (max-width: 428px) {
  .mobile-address-link.phone {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}